# =========================
# Frontend (React) ignores
# =========================

# Dependencies
/frontend/node_modules
/backend/node_modules
/frontend/.pnp
/frontend.pnp.js

# Testing
/frontend/coverage

# Production build
/frontend/build

# Misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Editor directories and files
/frontend/.idea/
/frontend/.vscode/
*.sw?

# Optional: MacOS specific
/frontend/.DS_Store

# Optional: Windows specific
/frontend/Thumbs.db


# =========================
# Backend (Spring Boot) ignores
# =========================

# Maven build
/backend/demo/target/
/backend/demo/.mvn/wrapper/maven-wrapper.jar

# Runtime folders
/backend/demo/logs/
/backend/demo/temp/
/backend/demo/work/
/backend/demo/webapps/

# IntelliJ IDEA
/backend/demo/.idea
/backend/demo/*.iml
/backend/demo/*.iws
/backend/demo/*.ipr

# STS
/backend/demo/.apt_generated
/backend/demo/.classpath
/backend/demo/.factorypath
/backend/demo/.project
/backend/demo/.settings
/backend/demo/.springBeans
/backend/demo/.sts4-cache

# NetBeans
/backend/demo/nbproject/private/
/backend/demo/nbbuild/
/backend/demo/dist/
/backend/demo/nbdist/
/backend/demo/.nb-gradle/
/backend/demo/build/

/backend/demo/.vscode/

/backend/.DS_Store

/backend/demo/.smarttomcat/

/backend/demo/conf/

*.log

**/temp/
**/work/



.env
*.env
.DS_Store
.DS_Store

/backend/demo/src/main/resources/application.properties
